<nav class="navbar navbar-expand-md is-primary navbar-light " > 
    <div class="container-fluid">
         <a  class="navbar-brand">SolutionConnection</a>
         <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div id="MenuNavegacion" class="collapse navbar-collapse">
           
           <ul class="navbar-nav ml-auto " >
             <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
             <li class="nav-item"><a class="nav-link" href="#">Cerrar Cesión</a></li>
             
           </ul>

         </div>

       </div>
</nav>