<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Solution Connection
      </h1>
      <h2 class="subtitle">
       
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <form [formGroup]="contactForm" novalidate (ngSubmit)="onSaveForm()"> 
      <div class="field">
        <label class="label">Nombre</label> 
        <div class="control has-icons-left has-icons-right">
          <input class="input"
           type="name" [(ngModel)]="login.name"
            formControlName="name" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        
      </div>
      <div class="field">
        <label class="label">Fecha de Nacimiento</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" 
          type="date" [(ngModel)]="login.date"
           formControlName="date" />
          <span class="icon is-small is-left">
            <i class="fas fa-calendar-alt"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        
      </div>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input 
          class="input"
          [class.is-danger]="emailFieldIsInvalid"
          [class.is-success]="emailFieldIsValid"
           type="email" [(ngModel)]="login.email"
           formControlName="email" />
          <span class="icon is-small is-left">
            <i class="fas fa-at"></i>
          </span>
          <span *ngIf="emailFieldIsInvalid" class="icon is-small is-right">
            <i class="fas fa-times"></i>
          </span>
          <span *ngIf="emailFieldIsValid" class="icon is-small is-right">
           <i class="fas fa-check"></i> 
          </span>
          
        </div>
     
      
      </div>
    
      <div class="field">
        <label class="label">Contraseña:</label>   
        <p class="control has-icons-left">
          <input
          class="input"
          type="password" [(ngModel)]="login.password"
          placeholder="Contraseña"
          formControlName="password">
          <span class="icon is-small is-left">
            <i class="fas fa-lock"></i>
          </span>
        </p>
      </div>

      <div class="field">
        <label class="label">Categoria:</label>
        
        <div class="control">
          <div class="select">
            <select formControlName="category" [(ngModel)]="login.category">
              <option value="1">Cliente</option>
              <option value="2">Tienda</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Genero:</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              [(ngModel)]="login.gender"
              name="gender"
              formControlName="gender"
              value="male"
            />
            Hombre
          </label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              value="female"
            />
            Mujer
          </label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              value="other"
            />
            Otro
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit" (click)="loginUsuario()">Guardar</button>
        </div>
        <div class="control">
          <button class="button is-light" type="reset" routerLink="/inicio">Cancelar</button>
        </div>
      </div>
    </form>
  </section>
</div>