<section class="hero is-primary">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Solution Connection
      </h1>
      <h2 class="subtitle">
       
      </h2>
    </div>
  </div>
</section>
<div class="container">
  <section class="section">
    <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
      <div class="field">
        <label class="label">Name</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="text" formControlName="name" />
          <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
      </div>
      <div class="field">
        <label class="label">Fecha</label>
        <div class="control has-icons-left has-icons-right">
          <input class="input" type="date" formControlName="date" />
          <span class="icon is-small is-left">
            <i class="fas fa-calendar-alt"></i>
          </span>
          <span class="icon is-small is-right">
            <i class="fas fa-check"></i>
          </span>
        </div>
        <p class="help is-success">This username is available</p>
      </div>
      <button class="button is-primary" type="button" (click)="doSomething()">
        Action
      </button>
      <div class="field">
        <label class="label">Email</label>
        <div class="control has-icons-left has-icons-right">
          <input 
          class="input"
          [class.is-danger]="emailFieldIsInvalid"
          [class.is-success]="emailFieldIsValid"
           type="email" 
           formControlName="email" />
          <span class="icon is-small is-left">
            <i class="fas fa-at"></i>
          </span>
          <span *ngIf="emailFieldIsInvalid" class="icon is-small is-right">
          
            <i class="fas fa-times"></i>
          </span>
          <span *ngIf="emailFieldIsValid" class="icon is-small is-right">
           <i class="fas fa-check"></i> 
            
          </span>
        </div>
        <p class="help is-success">Success message</p>
        <p class="help is-danger">Error message</p>
      
      </div>
     
      <div class="field">
        <label class="label">Categoria:</label>
        <div class="control">
          <div class="select">
            <select formControlName="category">
              <option value="1">Cliente</option>
              <option value="2">Tienda</option>
            </select>
          </div>
        </div>
      </div>
      <div class="field">
        <label class="label">Genero:</label>
        <div class="control">
          <label class="radio">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              value="male"
            />
            Hombre
          </label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              value="female"
            />
            Mujer
          </label>
          <label class="radio">
            <input
              type="radio"
              name="gender"
              formControlName="gender"
              value="other"
            />
            Otro
          </label>
        </div>
      </div>
      <div class="field is-grouped">
        <div class="control">
          <button class="button is-primary" type="submit">Guardar</button>
        </div>
        <div class="control">
          <button class="button is-light" type="reset" routerLink="/inicio">Cancelar</button>
        </div>
      </div>
    </form>
  </section>
</div>