
    <div class="hero is-fullheight is-primary">
        <div class="hero-body">
          <div class="container has-text-centered">
            <div class="column is-8 is-offset-2">
                <h3 class="title has-text-white"></h3>
                <hr class="login-hr">  
                <!--caja y logo-->
                <div class="box">
                    <div class="box">
                      <h3>Aqui va el logo</h3>
                    </div>
                    
                    <section class="section">
                    <form [formGroup]="contactForm" novalidate (ngSubmit)="onSaveForm()"> 
    
                    <!--Comienzo del email-->
                      <div class="field">
                        <label class="label"></label>
                        <div class="control has-icons-left has-icons-right">
                          <input 
                          class="input"
                          [class.is-danger]="emailFieldIsInvalid"
                          [class.is-success]="emailFieldIsValid"
                          type="email" [(ngModel)]="login.email"
                          formControlName="email"
                          placeholder="Email" />
                          <span class="icon is-small is-left">
                            <i class="fas fa-at"></i>
                          </span>
                          <span *ngIf="emailFieldIsInvalid" class="icon is-small is-right">
                          
                            <i class="fas fa-times"></i>
                          </span>
                          <span *ngIf="emailFieldIsValid" class="icon is-small is-right">
                          <i class="fas fa-check"></i> 
                            
                          </span>
                        </div>
                      
                         <div *ngIf="emailField.errors && emailField.touched">
                      <p *ngIf="emailField.hasError('required')">
                        Es un campo requerido
                      </p>
                      <p *ngIf="emailField.hasError('email')">
                        No es un email
                      </p>
                    </div>
                      </div>
                      <!--Comienzo de contraseña-->
                      <div class="field">
                        <p class="control has-icons-left">
                          <input
                          class="input"
                          type="password" [(ngModel)]="login.password"
                          placeholder="Contraseña"
                          formControlName="password">
                          <span class="icon is-small is-left">
                            <i class="fas fa-lock"></i>
                          </span>
                        </p>
                      </div>


                      <!--Boton de Guardar-->
                      <div class=" ">
                        <div class="control ">
                          <button class="button is-primary"  type="submit" (click)="loginUsuario()" >Ingresar</button>
                        </div>
                        <div class="control">
                          <button class="button is-light" type="reset" routerLink="/registrar">Registrar</button>
                        </div>
                      </div>
                    </form>
                  </section>






            
                </div>

                  




            </div>
          </div>
        </div>
      </div>