<nav class="navbar navbar-expand-md is-primary navbar-light " > 
    <div class="container-fluid">
         <a href="InicioCliente" class="navbar-brand">SolutionConnection</a>
         <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#MenuNavegacion">
           <span class="navbar-toggler-icon"></span>
         </button>
         <div id="MenuNavegacion" class="collapse navbar-collapse">
           <ul class="navbar-nav ms">
             <li class="nav-item"><a class="nav-link" href="#">Mis Devoluciones</a></li>
             
           </ul>
           <ul class="navbar-nav ml-auto " >
             <li class="nav-item"><a class="nav-link" href="#">Perfil</a></li>
             <li class="nav-item"><a class="nav-link" href="#">Cerrar Cesión</a></li>
             
           </ul>

         </div>

       </div>
</nav>



<section class="hero ">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
             Proceso de Devolución
        </h1>
        <h2 class="subtitle">
         Rellene con la información
        </h2>
      </div>
    </div>
  </section>
  <div class="container">
    <section class="section">
      <form [formGroup]="form" novalidate (ngSubmit)="save($event)">
        <div class="field">
          <label class="label">Tienda:</label>
          <div class="control has-icons-left has-icons-right">
            <div class="select">
            <span class="icon is-small is-left">
              <i class="fas fa-store"></i>
            </span>
              <select formControlName="tienda">
                <option value="1">Paris</option>
                <option value="2">Ripley</option>
                <option value="3">Falabella</option>
              </select>
            </div>
          </div>
        </div>
        
        <div class="field">
          <label class="label">Tipo de Producto:</label>
          <div class="control has-icons-left">
            <div class="select">
            <span class="icon is-small is-left">
              <i class="fas fa-shopping-bag"></i>
            </span>
              <select formControlName="tipoproducto" >
                <option value="1">Electronica</option>
                <option value="2">Moda</option>
                <option value="3">Hogar</option>
              </select>
            </div>
          </div>
        </div>
      
      <div class="field">
          <label class="label">Motivo de Devolución:</label>
          <div class="control has-icons-left">
            <div class="select">
            <span class="icon is-small is-left">
              <i class="fas fa-exchange-alt"></i>
            </span>
              <select formControlName="motivodedevolucion" >
                <option value="1">Electronica</option>
                <option value="2">Moda</option>
                <option value="3">Hogar</option>
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Describa su Problema:</label>
          <div class="control">
            <textarea
              class="textarea"
              cols="30"
              rows="10"
              formControlName="text"
            ></textarea>
            
          </div>
          
          <!-- <div *ngIf="form.get('text').errors && form.get('text').touched">
        <p *ngIf="form.get('text').hasError('required')">
          Es un campo requerido
        </p>
        <p *ngIf="form.get('text').hasError('maxlength')">
          Te pasaste, máximo deben haber 80 caracteres.
        </p>
      </div> -->
        </div>
        <div class="field">
          <label class="label">Seleccionar Metodo de Devolución:</label>
          <div class="control has-icons-left">
            <div class="select">
            <span class="icon is-small is-left">
              <i class="fas fa-exchange-alt"></i>
            </span>
              <select formControlName="metododevolucion" >
                <option value="1">Envio</option>
                <option value="2">Retiro</option>
                
              </select>
            </div>
          </div>
        </div>
        <h2 class="subtitle">
          Dirección de retiro
         </h2>
         <div class="field">
          <label class="label">Comuna:</label>
          <div class="control has-icons-left">
            <div class="select">
            <span class="icon is-small is-left">
              <i class="fas fa-globe"></i>
            </span>
              <select formControlName="comuna" >
                <option value="1">Macul</option>
                <option value="2">La florida</option>
                
              </select>
            </div>
          </div>
        </div>
        <div class="field">
          <label class="label">Dirección:</label>
          <p class="control has-icons-left">
            <input
            class="input"
            type="direccion"
            placeholder="Dirección"
            formControlName="direccion">
            <span class="icon is-small is-left">
              <i class="fas fa-arrow-right"></i>
            </span>
          </p>
        </div>
        <div class="field">
          <label class="label">Tipo de Vivienda:</label>
          <p class="control has-icons-left">
            <input
            class="input"
            type="tipovivienda"
            placeholder="Indique: Casa, Depto, Condominio, etc"
            formControlName="tipovivienda">
            <span class="icon is-small is-left">
              <i class="fas fa-home"></i>
            </span>
          </p>
        </div>
       
        <div class="field is-grouped">
          
          <div class="control">
            <button class="button is-primary" type="submit">Guardar</button>
          </div>
          <div class="control">
            <button class="button is-light" type="reset" routerLink="/inicio">Cancelar</button>
          </div>
        </div>
      </form>
    </section>
  </div>
 